body {
  margin: 0;
}

@font-face {
  font-family: 'calibri';
  src: local('calibri'), url('./assets/fonts/calibri.ttf') format('truetype');
}
@font-face {
  font-family: 'calibribold';
  src: local('calibribold'), url('./assets/fonts/calibri-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'cambriabold';
  src: local('cambriabold'), url('./assets/fonts/cambria-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'nimbus';
  src: local('nimbus'), url('./assets/fonts/nimbus.ttf') format('truetype');
}